footer {
  box-shadow: 0px 6px 5px rgba(176, 176, 176, 0.1),
    0px 7px 9px rgba(0, 0, 0, 0.06);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  position: fixed;
  bottom: 0px;
  width: 100%;
  max-height: 70px;
  height: 100%;
  background: $white-color;
  max-width: 480px;
  margin: 0 -24px;

  .tab-links {
    display: flex;
    justify-content: space-evenly;
    height: 100%;

    .t-links {
      max-width: 110px;
      width: 100%;
      text-align: center;
      padding-top: 11px;
      color: $secondary-color;
      font-family: $noto-bold;
      font-style: normal;
      font-weight: bold;
      line-height: 16px;
      font-size: $size-12;
      cursor: pointer;

      .t-link-text {
        margin-top: 0px;
      }

      .active-img {
        display: none;
      }

      &.active {
        padding-top: 9px;
        color: $link-color;

        .not-active-img {
          display: none;
        }

        .active-img {
          display: inline-block;
        }

        &::after {
          content: '';
          height: 4px;
          width: 100%;
          background: #1958e0;
          position: relative;
          display: block;
          bottom: 0px;
          border-radius: 12px 12px 0px 0px;
        }
      }
    }
  }
}

.app-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.app-content {
  background-color: #ffffff;
  padding: 24px;
  height: 100%;
  max-width: 480px;
  width: 100%;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  box-shadow: 1px 2px 9px -1px rgba(0, 0, 0, 0.4);
  overflow-y: auto;
}

.logo-heading {
  font-weight: bold;
}

.sub-heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
}

.secondary-btn {
  color: white;
  background: #018b2e;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.12);
  border-radius: 32px;
}

.fixed-bottom {
  position: fixed;
  width: 100%;
  bottom: 0;
  margin-bottom: 10px;
}

.thumbnails-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: auto;
  white-space: nowrap;
  border-top-right-radius: 24px;
  border-top-left-radius: 24px;
  overflow-y: hidden;

  &.thumb-without-border-radius {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    overflow-x: scroll;
    margin-right: -24px;

    &::-webkit-scrollbar {
      width: 2px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: $transparent-color;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $transparent-color;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: $transparent-color;
    }
  }
  li {
    display: inline;
    padding-right: 5px;
  }
}

.dashed-border {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
}

.card-divider {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.card-box {
  border: 1px solid #e0e0e0;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.12);
  border-radius: 24px;
}
