/** Override external libs */

.Toastify {
  font-size: 0.85rem;
  z-index: 1000 !important;
}
.Toastify__toast-container {
  z-index: 1000 !important;
}
.Toastify__toast-body {
  font-family: 'Noto Sans';
  white-space: pre-line;
}
.Toastify__toast--error {
  background: #fde7e9;
  color: #323130;
}
.Toastify__toast--warning {
  background: #fff4ce;
  color: #323130;
}
.Toastify__toast--info {
  background: #d9f0ff;
  color: #323130;
}
.Toastify__close-button {
  color: #323130;
}
.Toastify__toast--success {
  background: #dff6dd;
  color: #323130;
}
