.card-box-title {
  font-family: $noto-regular;
  font-style: normal;
  font-weight: normal;
  font-size: $size-24;
  line-height: 32px;
  color: $black-new-color;
}

.card-box-text {
  font-family: $noto-regular;
  font-style: normal;
  font-weight: normal;
  font-size: $size-16;
  line-height: 22px;
  color: $secondary-color;
}

.card-box-text-2 {
  font-family: $noto-regular;
  font-style: normal;
  font-weight: 600;
  font-size: $size-14;
  line-height: 19px;
  color: $text-color;
}

.card-box-text-3 {
  font-family: $noto-regular;
  font-style: normal;
  font-weight: 600;
  font-size: $size-16;
  line-height: 24px;
  color: $text-color-2;
}

.list-box-text {
  font-family: $noto-regular;
  font-style: normal;
  font-weight: normal;
  font-size: $size-14;
  line-height: 19px;
  color: $secondary-color;
}

.list-box-text-2 {
  font-family: $noto-regular;
  font-style: normal;
  font-weight: normal;
  font-size: $size-14;
  line-height: 26px;
  color: $secondary-color;
}

.box-heading-1 {
  font-family: $noto-bold;
  font-style: normal;
  font-weight: bold;
  font-size: $size-18;
  line-height: 26px;
  color: $heading-color;
}

.box-heading-2 {
  font-family: $noto-regular;
  font-style: normal;
  font-weight: normal;
  font-size: $size-18;
  line-height: 26px;
  color: $heading-color;
}

.box-sub-heading-1 {
  font-family: $noto-bold;
  font-style: normal;
  font-weight: bold;
  font-size: $size-12;
  line-height: 14px;
  color: $secondary-color;
}
