* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: $font-family-base;
  font-size: $size-16;
}

a {
  color: $link;
  text-decoration: none;

  &:visited {
    color: $visit;
  }

  &:hover {
    color: $hover;
  }

  &:active {
    color: $active;
  }
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
