// Fonts
$regular: 'nunito_sansregular';
$semibold: 'nunito_sanssemibold';
$bold: 'nunito_sansbold';
$bold-italic: 'nunito_sansbold_italic';
$black: 'nunito_sans_blackregular';
$extraligte: 'nunito_sans_extralightregular';

$noto-regular: 'noto_regular';
$noto-bold: 'noto_bold';
$noto-italic: 'italic_bold';
$noto-bold-italic: 'noto_bold_italic';

$font-family-base: $noto-regular !default;

$secondary-color: #666666;
$black-color: #000000;
$black-lighten-color: #555555;
$black-new-color: #212121;
$white-color: #ffffff;
$link-color: #0050ff;
$btn-border-color: #e0e0e0;
$primary-color-text: #686868;
$heading-color: #333333;
$text-color: #bbbbbb;
$text-color-2: rgba(33, 33, 33, 0.72);
$btn-background-color: #d80016;
$btn-background-color-hover: #c82333;
$transparent-color: transparent;

/*base color*/
$black: #000000;
$white: #ffffff;
$primary-color: #0050ff;

/*link color*/
$link: #0050ff;
$visit: #1958e0;
$hover: #1958e0;
$active: #1958e0;

/*font size*/
$size-10: 0.625em;
$size-11: 0.6875em;
$size-12: 0.75em;
$size-13: 0.8125em;
$size-14: 0.875em;
$size-15: 0.9375em;
$size-16: 1em;
$size-17: 1.0625em;
$size-18: 1.125em;
$size-19: 1.1875em;
$size-20: 1.25em;
$size-21: 1.3125em;
$size-22: 1.375em;
$size-23: 1.4375em;
$size-24: 1.5em;
$size-25: 1.5625em;
$size-26: 1.625em;
$size-27: 1.6875em;
$size-28: 1.75em;
$size-29: 1.8125em;
$size-30: 1.875em;
$size-31: 1.9375em;
$size-32: 2em;
$size-33: 2.0625em;
$size-34: 2.125em;
$size-40: 2.5em;

$light-grey-color: #8c8c8c;
